.redCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: red;
  margin: 0 .5em;
}

.orangeCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: orange;
  margin: 0 .5em;
}

.yellowCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: yellow;
  margin: 0 .5em;
}

.greenCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: green;
  margin: 0 .5em;
}

.blueCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: blue;
  margin: 0 .5em;
}

.indigoCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: indigo;
  margin: 0 .5em;
}

.violetCircle {
  height: 3em;
  width: 3em;
  border: .125em solid black;
  border-radius: 50%;
  background-color: violet;
  margin: 0 .5em;
}

.blankCircle {
  height: 3em;
  width: 3em;
  border: .125em solid rgb(196, 196, 196);
  border-radius: 50%;
  background-color: rgb(138, 138, 138);
  margin: 0 .5em;
  box-shadow: rgb(196, 196, 196) 0 1px 10px inset;

}